
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex playground</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="div" style="text-align: center;">Welcome to the Dynamic Environment</div>
    <div class="outer">
        <div class="inner">
        </div>
    </div>
    <p> Hello, Mr.{{Name}}-Dynamically</p>
    <ul>
        
        <li>static data</li>
        <li>{{comments1}}</li>
        <li>{{comments2}}</li>
    </ul>
</body>
</html>